@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css";

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid; #4acf50
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}


